<style>

body{width:100%; background: url(#) no-repeat 40% 0;}
	
.container {width: 90%; margin: 5em auto; max-width: 1100px; min-width: 300px;}

	
/* -- Header
    ------------------------------------------------------------- */
    header#navtop { margin-bottom: 2em; clear: both; overflow: hidden;
        font-size: 14px;
         background-color: #080808;
         color: #fff; 
         position: fixed;
         padding-top: 8px;
         width: 100%;    
          z-index: 1;
          top: 0;
      }
  
      header#navtop h2{color: #fff;padding-left: 10px;}
          header nav ul { display: flex;float: none; overflow: hidden; padding: 2em 3em 2em 2em; ; line-height: 0em; text-decoration: none;}
          header nav li { float: left; margin-right: 1em; padding-right: 1em; font-size:10px; text-decoration: none;}
          header nav li:last-child { margin-right: 0; padding-right: 0; border-right: none; }
          header nav:hover {text-decoration: none; color: #fff}
      nav {position: flex;}    
      nav a, menu a { text-decoration: none; color: #fff;font-size: 20px; }
      nav a:hover , menu a:hover{text-decoration: none; color: #fff; }
      .navactive { color:#}
      .logo {margin-bottom: 0em;}
      .logo:hover {background: none;}
          
          
      
  
/* -- General
  ------------------------------------------------------------- */
      
#backgroundDiv {
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-image: url('img/hero-bg.jpg');
     /* filter: brightness(50%);Darken the background image */

    background-size: cover; /* Cover the entire div */
    background-position: left; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    /* Optionally add more styles */
    display: flex;
    justify-content: left;
    align-items: center;
    color: white; /* Text color */
    z-index: -1;
}

#backgroundDiv h1 {
    color: #fff;
    font: Arial;
    float: left;'
    background-position: left;
    font-weight: 400;
    padding-left: 40px;
    font-size: 80px;

  }
  .shadow-text {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
  

  .left-column {
    background-color:#27c449;
    color: white;
    flex: 1;
    padding: 20px;
    text-align: center;
    float: left;
    width: 30%;
    height: 300px;
    display: block;
}
.right-column {
    background-color: white;
    color: #555;
    flex: 1;
    padding: 20px;
    text-align: center;
    float: right;
    border: 1px solid grey; /* Added thin grey border */
    width: 60%;
    height: 300px;
    display: block;
}

.left-column h3,.right-column h3 {
  font: Arial;
  font-size: 24px;
  font-style: bold;
  font-weight: 700;

}

.left-column p, .right-column p {
  font: Arial;
  font-size: 18px;
  font-style: normal;
}
  
  
  
  
  
  
  
  
  
 
  
  
  
  
@media{} 


</style>
