
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        <title>Custom RSS Feed</title>
    </head>
    <body>
        <h1>Custom RSS Feed</h1>
        <div class="rss-feed">
    
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/freighter-ship-lake-superior-collided-151830601.html">A freighter ship in Lake Superior collided with something underwater, Coast Guards says</a></h2>
            <p>No description</p>
            <span>2024-06-08T15:18:30Z</span>
            <div class="media">
                
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://finance.yahoo.com/news/san-diego-area-cities-among-161259796.html">These San Diego-area cities are among ‘hottest housing markets’ in US, according to Realtor.com</a></h2>
            <p>No description</p>
            <span>2024-06-08T16:12:59Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/kswb_articles_601/f58bf5001561e124cfab9bbe8f4c9066" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/officials-warn-quicksand-conditions-popular-161438439.html">Officials warn of quicksand conditions at popular New England beach</a></h2>
            <p>No description</p>
            <span>2024-06-07T16:14:38Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/wfxt_cox_articles_703/b9e316ee7171a6254cd5685e1fb9b761" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://finance.yahoo.com/news/zombies-ranks-worlds-most-debt-052247822.html">Zombies: Ranks of world's most debt-hobbled companies are soaring, and not all will survive</a></h2>
            <p>No description</p>
            <span>2024-06-07T05:22:47Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/ap.org/23a1327a274b033b09e3fb92fea5a256" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/bear-vs-tiger-watch-2-153650281.html">Bear vs tiger: Watch 2 of nature's heavyweights face off in the wild in India</a></h2>
            <p>No description</p>
            <span>2024-06-07T15:36:50Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/live_science_953/ca7c69fa537cbef8c8fae6622065ce7a" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://autos.yahoo.com/florida-trooper-teaches-entitled-woman-151000004.html">This Florida Trooper Teaches Entitled Woman A Valuable Lesson</a></h2>
            <p>No description</p>
            <span>2024-06-08T18:30:00Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/the_auto_wire_articles_747/a91dea6bd542fc0b1929a97b2e1cdfe2" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/chinese-armed-vessels-patrol-waters-085121389.html">Chinese armed vessels patrol waters around disputed islands, angering Japan</a></h2>
            <p>No description</p>
            <span>2024-06-07T08:51:21Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/reuters.com/231b970b06c84c96a1a92241baf4f355" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/t-j-maxx-just-announced-194500509.html">T.J.Maxx Just Announced a Controversial Change & Shoppers Are Not Happy</a></h2>
            <p>No description</p>
            <span>2024-06-08T19:45:00Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/apartment_therapy_269/9b454663dd78735f6892dc4120661178" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/tech/scientists-finally-think-know-where-211535016.html">Scientists finally think they know where the most dangerous part of this US earthquake zone is and it's bad news for Washington</a></h2>
            <p>No description</p>
            <span>2024-06-07T21:15:35Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/business_insider_articles_888/313376b909729b91ec726446793b38dc" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/former-officers-defended-us-capitol-223122302.html">Former officers who defended the US Capitol on Jan. 6 visited the Pa. House. Some GOP members jeered</a></h2>
            <p>No description</p>
            <span>2024-06-06T22:31:22Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/ap.org/a3145c232b37c3ab36d411c52205a4fb" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/tech/apple-intelligence-reportedly-coming-iphone-152621629.html">‘Apple Intelligence’ is reportedly coming to your iPhone in iOS 18 – here’s what to expect</a></h2>
            <p>No description</p>
            <span>2024-06-07T15:26:21Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/techradar_949/771d7ec2de8c9e90ed627d610ade4598" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/fresno-police-chief-balderrama-under-231539356.html">Fresno Police Chief Balderrama under investigation for ‘inappropriate off-duty relationship’</a></h2>
            <p>No description</p>
            <span>2024-06-06T23:15:39Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/ksee_articles_968/de57f1beb2eb0ac77c0787729daf4bec" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://finance.yahoo.com/news/chinas-exports-grow-7-6-034005197.html">China's exports grow 7.6% in May, beating expectations despite trade tensions</a></h2>
            <p>No description</p>
            <span>2024-06-07T03:40:05Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/ap.org/c8bf88e85629507be8fa6a44453dd321" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/ukraine-war-video-appears-show-160901707.html">Ukraine war video appears to show US-supplied Bradley fighting vehicle and Russian APC in a head-on firefight</a></h2>
            <p>No description</p>
            <span>2024-06-08T16:09:01Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/business_insider_articles_888/d9cd7093842bee2984baa433d9472e1f" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/conservative-latino-family-regretful-moving-220056774.html">Conservative Family Leaves Red State Idaho After Moving There To Escape California 'Politics'</a></h2>
            <p>No description</p>
            <span>2024-06-06T22:00:56Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/theblast_73/ffb26523a50bf1ca77d049a61ac21dec" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/mexicos-president-vows-press-ahead-162652702.html">Mexico's outgoing president vows to pursue changes to Constitution despite market nervousness</a></h2>
            <p>No description</p>
            <span>2024-06-07T16:26:52Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/ap.org/df887bbc31421bc941d39c9c6614c5ea" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/bodycam-released-kroger-shootout-071504801.html">Bodycam released of Kroger shootout</a></h2>
            <p>No description</p>
            <span>2024-06-07T07:15:04Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/video.abcnewsplus.com/21b93a23e72d1aad3d0fd1c66d6341d5" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/7-democrats-could-replace-biden-155408649.html">7 Democrats who could replace Biden if he drops his 2024 reelection bid</a></h2>
            <p>No description</p>
            <span>2024-06-08T20:24:16Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/insider_articles_922/4bc83836b6b33801870845f5e9fb7b5e" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/judge-says-fair-trial-impossible-163628191.html">Judge says fair trial impossible and drops murder charges against parents in 1989 killing of boy</a></h2>
            <p>No description</p>
            <span>2024-06-07T16:36:28Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/ap.org/32e238b1b2d968af05aeb710f0ba0a9c" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/devastating-cost-fighting-myanmars-military-213526438.html">'My 17-year-old was brutally killed, but I'm glad she fought for freedom'</a></h2>
            <p>No description</p>
            <span>2024-06-07T14:20:42Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/bbc_us_articles_995/cc3241dc857632c98cf25121b29e838b" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/rare-highly-toxic-viper-found-135344204.html">Rare "highly toxic" viper found in Ohio</a></h2>
            <p>No description</p>
            <span>2024-06-07T13:53:44Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/cbs_news_897/72a5d71101e54e54bfb0ae9a7764c3a3" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/hillary-clinton-waiting-line-nomination-064000625.html">Hillary Clinton is ‘waiting in line’ for that nomination: Vivek Ramaswamy</a></h2>
            <p>No description</p>
            <span>2024-06-07T06:40:00Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/ny_post_videos_491/ca2a4b45f66586b9e6b6d74c5743f805" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/lifestyle/people-sharing-most-boomer-complaints-171932092.html">32 "Boomer Complaints" That I'm Pretty Sure Gen Z, Gen X, And Millennials All Agree With</a></h2>
            <p>No description</p>
            <span>2024-06-07T17:19:32Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/buzzfeed_articles_778/b838954fec859ac8c07aab0129970d85" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://finance.yahoo.com/news/morale-plummets-inside-washington-post-113926057.html">Morale plummets inside The Washington Post as staffers express alarm over publisher’s attempts to squash story</a></h2>
            <p>No description</p>
            <span>2024-06-07T11:39:26Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/cnn_business_articles_218/b4fbb3ae1fed73523cf0cd2824903819" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://finance.yahoo.com/news/shari-redstone-receives-fewest-votes-211543477.html">Shari Redstone receives fewest votes in Paramount board election</a></h2>
            <p>No description</p>
            <span>2024-06-07T21:15:43Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/reuters-finance.com/f27ccc66a2e58020d507dad441b9b7b6" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/married-love-life-ukrainian-bunker-000551790.html">I married the love of my life in a Ukrainian bunker. Two days later he was killed</a></h2>
            <p>No description</p>
            <span>2024-06-08T00:05:51Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/bbc_us_articles_995/79ce188d2b43b715bf8061c311620e88" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://finance.yahoo.com/news/guest-joe-rogan-podcast-dumped-104400442.html">A guest on Joe Rogan’s podcast dumped a 'ridiculous' $1 million in cash on his desk — here's why</a></h2>
            <p>No description</p>
            <span>2024-06-08T10:44:00Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/moneywise_327/8ff43ab588e8f9bc43eb7b85dd154569" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/iran-helicopter-crash-shows-tehrans-050901107.html">Iran helicopter crash shows Tehran's reliance on an aging fleet as well as its challenges at home</a></h2>
            <p>No description</p>
            <span>2024-06-08T05:09:01Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/ap.org/bba68b7119fb086a776db0c2762f8517" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/vacant-vibrant-indio-revitalizing-downtown-130117905.html">From vacant to vibrant: How Indio is revitalizing downtown with new shops, dining, homes</a></h2>
            <p>No description</p>
            <span>2024-06-08T13:01:17Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/the-desert-sun/ee2fca97b52207021b45830d9e08852e" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/worse-inflation-lets-remember-trumps-134832271.html">Worse than inflation: Let's remember Trump's real record in office</a></h2>
            <p>No description</p>
            <span>2024-06-07T13:48:32Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/salon_articles_879/4abd2485b6399ed66681a70654d12e2c" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://finance.yahoo.com/news/gamestop-posts-decline-quarterly-sales-102141819.html">GameStop's sales continue to slide in surprise earnings release</a></h2>
            <p>No description</p>
            <span>2024-06-07T10:21:41Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/reuters.com/85f9eecc44e80602c143f4d615b68641" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/humans-neanderthals-only-had-sex-162508495.html">Humans and Neanderthals only had sex for a brief period, but it still fundamentally changed our DNA</a></h2>
            <p>No description</p>
            <span>2024-06-07T16:25:08Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/business_insider_articles_888/100df0e931736de7f8e4226e4ecdc30e" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://finance.yahoo.com/news/heres-exactly-much-social-security-074400721.html">Here's Exactly How Much Social Security Checks Are Forecast to Rise in 2025</a></h2>
            <p>No description</p>
            <span>2024-06-08T07:44:00Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/motleyfool.com/09388db72d2d6b2361b317952579be04" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/china-strongly-opposes-u-arms-105608476.html">China strongly opposes U.S. arms sales to Taiwan, urges withdrawal</a></h2>
            <p>No description</p>
            <span>2024-06-07T10:56:08Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/reuters.com/c0eca3fd751232bc25bf5d898b013bcf" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/massive-el-gordo-galaxy-cluster-120001490.html">Massive 'El Gordo' galaxy cluster suggests dark matter smashes into itself</a></h2>
            <p>No description</p>
            <span>2024-06-07T12:00:01Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/space_311/dff72785a807c228490267d1706a550b" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/entertainment/l-asian-american-groups-call-021942764.html">L.A. Asian American Groups Call for Shane Gillis to Apologize for ‘Offensive Racial Remarks’ — or Netflix Should Cut Ties</a></h2>
            <p>No description</p>
            <span>2024-06-07T02:19:42Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/variety.com/d857375ccb9c8b1c7781d4600e166ff3" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/black-d-day-combat-medics-153508413.html">Black D-Day combat medic's long-denied medal tenderly laid on Omaha Beach where he bled, saved lives</a></h2>
            <p>No description</p>
            <span>2024-06-07T15:35:08Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/ap.org/7a48644f5a7a13796a1cb392e0e29f90" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://finance.yahoo.com/news/american-airlines-flight-attendants-pay-111000049.html">American Airlines flight attendants say their pay is so low, they fight for airplane meals to save money and sleep in their cars—and they’re ready to strike</a></h2>
            <p>No description</p>
            <span>2024-06-08T11:10:00Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/fortune_175/2149b06b271006f641b889cd186a9a9f" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/inside-ghost-village-reflects-rapidly-120016996.html">Inside a ‘ghost village’ that reflects a rapidly changing China</a></h2>
            <p>No description</p>
            <span>2024-06-07T12:00:16Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/cnn_videos_177/382f001af364128c97a34d2730fa1afd" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/california-law-bars-ex-lapd-173442638.html">California law bars ex-LAPD officer Mark Fuhrman, who lied at OJ Simpson trial, from policing</a></h2>
            <p>No description</p>
            <span>2024-06-07T17:34:42Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/ap.org/3376dc2724d351b0a8f1e370dc8280e9" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/florida-woman-called-911-herself-003727856.html">Florida woman called 911 on herself during attempted carjacking so she ‘could do it legally’: deputies</a></h2>
            <p>No description</p>
            <span>2024-06-07T00:37:27Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/wpix_new_york_city_ny_articles_672/fedada33a256aa1e81a48bd125d1629f" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://finance.yahoo.com/news/nvidia-completed-10-1-stock-090600282.html">Nvidia Has Completed Its 10-for-1 Stock Split: Here's Why I'm Still Not Touching This Artificial Intelligence (AI) Titan With a 10-Foot Pole</a></h2>
            <p>No description</p>
            <span>2024-06-08T09:06:00Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/motleyfool.com/221f8c9b55bef4b1e94e235c73445f79" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/russia-puts-former-ukrainian-prime-131753586.html">Russia puts former Ukrainian Prime Minister Yulia Tymoshenko on its wanted list</a></h2>
            <p>No description</p>
            <span>2024-06-08T13:17:53Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/ap.org/6453183c16f2674989c543b5dad37fc2" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/scientists-intrigued-signal-space-repeating-103055450.html">Scientists Intrigued by Signal From Space Repeating Every Hour</a></h2>
            <p>No description</p>
            <span>2024-06-08T10:30:55Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/futurism_981/48efcc00d8d479a91f612dac927553b7" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/entertainment/27-extremely-disturbing-wikipedia-pages-143152047.html">27 Extremely Disturbing Wikipedia Pages That Will Haunt Your Dreams Until The End Of Your Days</a></h2>
            <p>No description</p>
            <span>2024-06-08T14:31:52Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/buzzfeed_articles_778/dc08041b9b793d74799f1ae95d07323f" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/zelenskiy-says-ukraine-determine-legitimacy-184609787.html">Zelenskiy says it's for Ukraine to determine his legitimacy, not Putin</a></h2>
            <p>No description</p>
            <span>2024-06-07T18:46:09Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/reuters.com/38d6d972da202b3de1ba1f7e0b101dc5" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/fire-ignites-north-padre-island-144132839.html">Fire ignites at North Padre Island business Wednesday night</a></h2>
            <p>No description</p>
            <span>2024-06-07T14:41:32Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/corpus-christi-caller-times/1500cec323514623aca4c623341aa9ab" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://finance.yahoo.com/news/4-car-brands-cost-twice-140129350.html">4 Car Brands That Cost Twice as Much To Maintain as the Average Vehicle</a></h2>
            <p>No description</p>
            <span>2024-06-07T14:01:29Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/gobankingrates_644/af4e9b918679bef42f08f8c8138e76fe" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/judge-dismisses-native-american-challenge-001445794.html">Judge dismisses Native American challenge to $10B SunZia energy transmission project in Arizona</a></h2>
            <p>No description</p>
            <span>2024-06-07T00:14:45Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/ap.org/23266266b601b49cd5bb3f4a5e5da3ec" alt="Media content">
            </div>
        </div>
        
        <div class="rss-item">
            <h2><a href="https://www.yahoo.com/news/not-looking-dome-cleveland-officials-214629016.html">‘Not Looking At A Dome’: Cleveland officials say dome downtown not part of stadium talks</a></h2>
            <p>No description</p>
            <span>2024-06-06T21:46:29Z</span>
            <div class="media">
                <img src="https://media.zenfs.com/en/wjw_articles_784/a17420c56f90ea85798fff76d883bf38" alt="Media content">
            </div>
        </div>
        
        </div>
    </body>
    </html>
    